<app-header></app-header>

<div class="container">
    <h3 class="my-5">Uploaded Files Information</h3>

    <form class="mb-4">
        <label style="font-weight: 500;">Upload a new file</label>
        <div class="form-group">
            <div class="custom-file col-6">
                <input type="file" class="custom-file-input" id="customFile"
                    (change)="handleFileInput($event.target.files)" accept="{{allowedExtensionsAsString}}">
                <label class="custom-file-label" for="customFile">Choose file...</label>
            </div>
        </div>
    </form>
    <div *ngFor="let fileInfoGroup of fileInfoGroups">
        <h5>File Type: {{fileInfoGroup.extension}}</h5>
        <table class="table table-striped mb-4">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">File Name</th>
                    <th scope="col">New File Name</th>
                    <th scope="col">Extension</th>
                    <th scope="col">Size (bytes)</th>
                    <th scope="col">Upload Date</th>
                    <th scope="col">User</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let file of fileInfoGroup.files; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{file.fileName}}</td>
                    <td>{{file.newFileName}}</td>
                    <td>{{file.fileExtension}}</td>
                    <td>{{file.fileSize}}</td>
                    <td>{{file.uploadDate | date: 'dd/MM/yyyy HH:MM'}}</td>
                    <td>{{file.userName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>>